html {
    box-sizing: border-box;
}

*, *:after, *:before {
    box-sizing: inherit;
}
body {
    margin: 0;
}

.main_box {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0%;
    right: 0%;
    left: 0%;
    bottom: 0;
    margin: 0.1vh 0.1vw;
    padding:1em 2em;
    background-color: rgb(254, 218, 177);
    border-radius: 30px 30px 30px 30px;
    overflow-y: auto;
}

.main_box h1 {
    color:rgb(226, 141, 101);
    font-family: arial,sans-serif;
    font-size: 0.8em;
    text-align: center;
    margin: 0 0 1.7em 0;
}

.main_box #mode {
    background-color: rgb(255, 239, 195);
    color:rgb(226, 141, 101);
    font-family: arial,sans-serif;
    font-size: 0.6em;
    border: none;
    padding: 6px 15px 5px;
    display: block;
    position: absolute;
    top: -8px;
    right: 0px;
    border-radius: 16px 16px 0px 0px;
}

#scoreRank, #failRank {
    color:rgb(226, 141, 101);
    background-color: rgb(255, 239, 195);
    font-family: arial,sans-serif;
    font-size: 0.6em;
    padding: 6px 22px 5px 12px;
    text-align: center;
    display: inline;
    position: absolute;
}

#scoreRank {
    left: 0px;
    top: -8px;
    border-radius: 16px 0px 0px 0px;
    overflow: hidden;
}
#failRank {
    padding-left: 12px;
    padding-right: 18px;
    left: 60px;
    top: -8px;
    border-radius: 0px 16px 0px 0px;
}
.scoreVictory {
    color: rgb(94, 177, 86);
    font-weight: 700;
}
.scoreFail {
    color: rgb(207, 58, 58);
    font-weight: 700;
}

#name-field {
    position: relative;
    text-align: center;
    padding: 1em;
    border-radius: 15px 15px 20px 20px;
    background-color: rgb(255, 239, 195);
}

#name-field .area,
.proposeds {
    width: 100%;
    height-min: 18vh;
    margin: 1vh 0 0 0;
    padding: 3vh 20px;
    border-radius: 8px;
    border: 1px solid rgb(226, 141, 101);
    background-color: rgb(255, 245, 245);
    font-family: arial,sans-serif;
    font-size: 1em;
    color: rgb(197 118 83);
    text-align: center;
    font-weight: 600;
    /* color: rgb(153, 84, 34); */
    overflow:hidden;
}
#answer-string:focus {
    border: none;
}

#check-button {
    width: 60%;
    padding: 0.7em;
    border: 0.5px solid rgb(226, 141, 101);
    border-radius: 4px;
    margin: 0 auto;
    margin: 2vh auto 0vh;
    font-family: arial,sans-serif;
    background-color: rgb(254, 218, 177);
    color: rgb(153, 84, 34);
}

.proposeds {
    background-color: rgb(254, 218, 177);
    border: none;
    height: auto;
}

.proposeds-words {
    background: #ffefc3;
    display: inline-block;
    margin: 3px;
    padding: 6px 10px;
    border-radius: 10px;
    font-family: arial, sans-serif;
    /* font-size: 22px; */
    font-size: 1em;
    color: rgb(197 118 83);
    text-align: center;
    vertical-align: super;
    transition: all 0.8s ease-out 0s;
    font-weight: 600;
}

.answer-words {
    border: 1px solid rgb(208, 195, 195);
    display: inline-block;
    margin: 3px;
    padding: 6px 10px;
    border-radius: 5px;
    font-family: arial,sans-serif;
    font-size: 1em;
    text-align: center;
    color: rgb(197 118 83);
    vertical-align: super;
    transition: .8s ease-out;
    font-weight: 600;
}

.proposeds *,
#name-field *{
    transition: .6s ease-out;
}

.victory {
    /* background-color: rgb(103, 196, 103) !important; */
    background-color: rgb(191 255 173) !important;
}

.fail {
    /* background-color: rgb(213, 117, 136) !important; */
    background-color: rgb(245, 138, 160) !important;
}